--maxwidth 119
--wrapparameters preserve
--wraparguments preserve
--allman false
--xcodeindentation enabled
--ifdef no-indent

--disable andOperator
--disable anyObjectProtocol
--disable blankLinesAroundMark
--disable blankLinesAtEndOfScope
--disable blankLinesAtStartOfScope
--disable blankLinesBetweenScopes
--disable braces
--disable consecutiveBlankLines
--disable consecutiveSpaces
--disable duplicateImports
--disable elseOnSameLine
--disable emptyBraces
--disable fileHeader
--disable hoistPatternLet
--disable initCoderUnavailable
--disable isEmpty
--disable leadingDelimiters
--disable linebreakAtEndOfFile
--disable linebreaks
--disable modifierOrder
--disable numberFormatting
--disable organizeDeclarations
--disable preferKeyPath
--disable redundantBackticks
--disable redundantBreak
--disable redundantExtensionACL
--disable redundantFileprivate
--disable redundantGet
--disable redundantInit
--disable redundantLet
--disable redundantLetError
--disable redundantNilInit
--disable redundantObjc
--disable redundantParens
--disable redundantPattern
--disable redundantRawValues
--disable redundantReturn
--disable redundantSelf
--disable redundantVoidReturnType
--disable semicolons
--disable sortedImports
--disable spaceAroundBraces
--disable spaceAroundBrackets
--disable spaceAroundComments
--disable spaceAroundGenerics
--disable spaceAroundOperators
--disable spaceAroundParens
--disable spaceInsideBraces
--disable spaceInsideBrackets
--disable spaceInsideComments
--disable spaceInsideGenerics
--disable spaceInsideParens
--disable strongOutlets
--disable strongifiedSelf
--disable todos
--disable trailingClosures
--disable trailingCommas
--disable trailingSpace
--disable typeSugar
--disable unusedArguments
--disable void
--disable wrapAttributes
--disable wrapEnumCases
--disable wrapMultilineStatementBraces
--disable wrapSwitchCases
--disable yodaConditions
