<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1066334062693-44lo6m6ta64s3ff3edd59qg5o3j9b2p6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1066334062693-44lo6m6ta64s3ff3edd59qg5o3j9b2p6</string>
	<key>API_KEY</key>
	<string>AIzaSyCDdMR4i34L-WYhwfLFFM8_fN-FX4v-fTA</string>
	<key>GCM_SENDER_ID</key>
	<string>1066334062693</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wooky.toyswiftui</string>
	<key>PROJECT_ID</key>
	<string>toyswiftui</string>
	<key>STORAGE_BUCKET</key>
	<string>toyswiftui.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1066334062693:ios:174f102fef91a4ce699e8c</string>
</dict>
</plist>